<mat-card class="trello-list">
    <div class="list-header">
        <div>{{list.title}}</div>
        <button mat-icon-button (click)="removeList()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="list-content">
        <ng-content></ng-content>
    </div>
    <div class="list-footer">
        <button style="background: #673ab7;" mat-mini-fab (click)="addNewCard()">
            <mat-icon style="color: aliceblue;">add</mat-icon>
          </button>
    </div>
</mat-card>