.trello-card {
  margin-bottom: 20px;
  cursor: pointer;

  .card-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-icon {
      font-size: 17px;
    }
  }
}
