<h1 class="navbar">
  Trello Board
</h1>


<button class="add-list-button" mat-raised-button color="primary">ADD LIST</button>

<div class="list-container">
<app-trello-list>
  <app-trello-card></app-trello-card>
</app-trello-list>
<app-trello-list>
  <app-trello-card></app-trello-card>
  <app-trello-card></app-trello-card>
</app-trello-list>
<app-trello-list>
  <app-trello-card></app-trello-card>
  <app-trello-card></app-trello-card>
  <app-trello-card></app-trello-card>
</app-trello-list>

</div>
