<h1 class="navbar">
  Trello Board
</h1>

<button class="add-list-button" mat-raised-button color="primary" (click)="addNewList()">ADD LIST</button>

<div class="list-container" cdkDropListGroup>
  <app-trello-list [cdkDropListData]="list" cdkDropList (cdkDropListDropped)="drop($event, list)" *ngFor="let list of boardLists" [list]="list">
    <app-trello-card *ngFor="let item of list.items" cdkDrag [item]="item" (removeCard)="removeCard(list, item)"></app-trello-card>
  </app-trello-list>
</div>
