<h1 class="navbar">
  Trello Board
</h1>

<button class="add-list-button" mat-raised-button color="primary" (click)="addNewList()">ADD NEW LIST</button>

<div class="list-container" cdkDropListGroup>
  <ng-container *ngIf="boardLists$ | async as boardLists">

    <div class="list-item" *ngIf="boardLists.length; else blankPage">
      <app-trello-list [cdkDropListData]="list" cdkDropList (cdkDropListDropped)="drop($event)" *ngFor="let list of boardLists" [list]="list">
        <app-trello-card *ngFor="let item of list.items" cdkDragBoundary=".list-item" cdkDrag [item]="item" (removeCard)="removeCard(list, item)"></app-trello-card>
      </app-trello-list>
    </div>
    
    <!-- blank page placeholder when there are no lists present-->
    <ng-template #blankPage>
      <div class="mat-h2">Try adding lists...</div>
    </ng-template>

  </ng-container>
</div>
